.container
{
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 2fr 2fr;
}
.items
{
    color: rgb(0, 0, 0);
    padding-top: 10px;
    font-size: 40px;
    text-shadow: 2PX 2PX rgb(0, 204, 255);
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 3px;
    
}
.items:hover img{
    transform: scale(1.3);
    transition: transform 2s;
}


.mainbody
{
    
    padding-top: 11px;
    display: grid;
    grid-gap: 5px;
    grid-auto-rows: 1300px;
    
}
.img
{
    height: 250px;
    border-radius: 4%;
}
.pimg
{
    height: 200px;
    border-radius: 40%;
    
    float: left;
    margin: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.itemsofmain
{
 padding-left: 2px;
 padding-right: 2px;   
   color: white;
    background-color: rgb(77, 71, 71);
    border: 3px rgb(255, 255, 255) solid;
    border-radius: 3px;
}

.heading
{
    font-size: 50px;
    
    text-align: center;
    text-shadow: 2px 2px rgb(47, 160, 226);
}
.about
{
    display: grid;
    padding-left: 50px;
    padding-right: 50px;
    
   
    
}
.abouthead
{
    font-size: 20px;
    padding-left: 300px;
    padding-right: 500px;
}

.btn
{
    background-color: aqua;
    color: black;
   
    font-size: 16px;
    border: none;
    text-align: center;
    
}

* {box-sizing: border-box}

.ontainer {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.html {width: 80%; background-color: #04AA6D;}
.css {width: 90%; background-color: #2196F3;}
.css2 {width: 90%; background-color: #2196F3;}
.js {width: 75%; background-color: #f44336;}
.php {width: 60%; background-color: #ff9d00;}
.MYSQL {width: 65%; background-color: #808080;}
a:hover
{
  
    background-color: red;
    
}
.footer {
	background-color: #454545;
	color: #ffffff;
	padding: 1px;
	position: fixed;
	width: 100%;
    height: 50px;
	bottom: 0;
	text-align: center;
}



@media screen and (max-width: 480px) {

    .img
{
    height: 200px;
    border-radius: 20%;
    padding-left: 120px;
}

.abouthead
{
    font-size: 13px;
    padding-left: 200px;
    padding-right: 200px;
}

.items
{
    color: rgb(255, 255, 255);
    padding-top: 23px;
   
    font-size: 20px;
    text-shadow: 2PX 2PX rgb(255, 0, 0);
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 3px;
    
}
.items:hover img{
    transform: scale(1.3);
    transition: transform 2s;
}
   
.abouthead
{
    font-size: 15px;
    padding-left: 100px;
    padding-right: 50px;
}
.pimg
{
    
    height: 100px;
    border-radius: 20%;
    border: 0.2px rgb(45, 19, 19) solid;
    float: left;
    margin: 5px;
    padding-right: 20px;
    padding-left: 20px;
}


.mainbody
{
    
    padding-top: 9px;
    display: grid;
    grid-gap: 5px;
    grid-auto-rows: 1300px;
    
}
.headin
{
    font-size: 20px;
    color: #0486aa;
}
.prob
{
    font-size: 12px;
}

}





.social-menu ul{
   
   
    display: flex;
}


.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #000;
}